<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Centered Form</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

  {% load static %}

  <link rel="stylesheet" href="{% static 'authentication_app/style.css' %}">

</head>
<body >

    {% include 'authentication_app\navbar.html' %}

  <div class="container">
    <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            
            <h5 class="card-title text-center">Forgot Password</h5>
            <p style="text-align: center;">Enter your email and we'll send you a link to reset your password</p>
            <form method="post">
     

              {% csrf_token %}
              {% if messages %}
                  {% for message in messages %}
                      <span style="color: red">{{ message }}</span>
                  {% endfor %}
              {% endif %}
                
              <div class="mb-4 d-flex justify-content-center">
                <input type="text" class="form-control" name="email" placeholder="Email"><br>
              </div>
             

              <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
              
            </form>
           
      
  
           
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
